<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="A web app for resizing and converting PNG files to Base64 data URIs">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,400&display=swap">
</head>
<body>
<div id="root"></div>
<noscript>Enable JavaScript to use this app.</noscript>
</body>
</html>
