.snack {
  background-color: #000;
  color: #fff;
  padding: 16px 32px;
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  box-shadow: 0 2px 3px #00000077;
}

.snack-button {
  border: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 8px;
  color: #00b700;
  font-size: inherit;
  margin-left: 16px;
}

.snack-button:focus {
  background: #222;
}

.snack-error {
  background-color: red;
  color: white;
}
