.snack {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  border: 1px solid white;
  box-shadow: 0 1px 2px #aaa;
}

.snack-button {
  border: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 2px;
  color: green;
  font-size: inherit;
  margin-left: 16px;
}

.snack-error {
  background-color: red;
  color: white;
}
